.container {
    margin: auto;
    max-width: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
.heading {
    color: rebeccapurple;
    animation-duration: 0.09s;
    animation-name: slidein;
}
.nav-links {
    display: flex;
    list-style: square;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
}

.site-title {
    /* relative to root fontsize of the page */
    font-size: 3rem; 
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@keyframes slidein {
    from {
        margin-left: 85%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}